<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>帳票アプリ</title>
  <meta name="robots" content="noindex,nofollow">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/example.css">
</head>
<body ng-app="App">
  <div class="location-bar"></div>

  <!-- Header Nav -->
  <header class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a href="./" class="navbar-brand">帳票アプリ</a>
      </div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/">帳票一覧</a></li>
          <li><a href="#/new">帳票作成</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Header Nav End -->

  <div class="container" ng-view></div>

  <!-- Template Start -->
  <script type="text/ng-template" id="index-tmpl">
    <h1>帳票一覧</h1>
    <div class="input-group">
      <input type="text"
             class="form-control"
             ng-model="from"
             datepicker-popup
	     format="YYYY-mm-DD"
             is-open="fromPickerOpen">
      <div class="input-group-addon" ng-click="toggleFromPicker($event)">
        <i class="glyphicon glyphicon-calendar"></i>
      </div>
    </div>
      〜
    <div class="input-group">
      <input type="text"
             class="form-control"
             ng-model="to"
             datepicker-popup
	     format="YYYY-mm-DD"
             is-open="toPickerOpen">
      <div class="input-group-addon" ng-click="toggleToPicker($event)">
        <i class="glyphicon glyphicon-calendar"></i>
      </div>
    </div>
    <ul>
      <li ng-repeat="sheet in list">
        #{{ sheet.id }}
        {{ sheet.date | date:'yyyy/MM/dd' }}
        {{ sheet.dealing_type_id }}
        {{ sheet.amount }}
        <a ng-href="#/sheet/{{ sheet.id }}">詳細を確認する</a>
      </li>
    </ul>
    <div ng-hide="list">
      帳票が存在しません。 <a href="#/new">新しい帳票を作る</a>
    </div>
  </script>

  <script type="text/ng-template" id="new-tmpl">
    <h1>帳票作成</h1>
    <form name="sheetForm" ng-submit="save()">
      <table class="table">
        <colgroup span="2" class="col-md"></colgroup>
          <tr>
            <th>取引日</th>
            <td>
              <input type="text"
                     class="form-control"
                     ng-model="dealing.date"
                     datepicker-popup
        	     format="YYYY-mm-DD"
                     is-open="datePickerOpen">
              <div class="input-group-addon" ng-click="toggleDatePicker($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </div>
	    </td>
          </tr>
          <tr>
            <th>科目</th>
            <td>
	      <select ng-model="dealing.dealing_type_id"
		      ng-options="type.id as type.name for type in dealingTypes"
		      required
		      >
	      </select>
	    </td>
          </tr>
          <tr>
            <th>金額</th>
            <td>
	      <input class ="form-control"
	             type="number"
	             ng-model="dealing.amount"
		     required min="0" ng-pattern="integer"
       	      >
	    </td>
          </tr>
          <tr>
            <th>取引先</th>
            <td>
	      <input class ="form-control"
	             type="text"
	             ng-model="dealing.client"
		     required
       	      >
            </td>
          </tr>
          <tr>
            <th>摘要</th>
            <td>
	      <input class ="form-control"
	             type="text"
	             ng-model="dealing.description"
       	      >
            </td>
          </tr>
        </table>
      <div class="alert alert-danger" ng-show="sheetForm.$invalid">
        <span ng-show="sheetForm.$error.required">空欄が存在しています。</span>
        <span ng-show="sheetForm.$error.min">単価、個数の最小値は 0 です。</span>
        <span ng-show="sheetForm.$error.pattern">単価、個数は整数で指定してください。</span>
      </div>
      <div>
        <button type="submit" ng-disabled="sheetForm.$invalid" class="btn btn-success"">帳票を保存</button>
      </div>
    </form>
  </script>
  
  <script type="text/ng-template" id="sheet-tmpl">
    <div ng-show="dealing">
    <h1>帳票詳細 #{{ dealing.id }}</h1>
    <p>作成日時: {{ dealing.created_at | date:'yyyy/MM/dd HH:mm' }}</p>
    <table class="table">
      <colgroup span="2" class="col-md"></colgroup>
        <tr>
          <th>取引日</th>
          <td>{{ dealing.date | date: 'yyyy/MM/dd' }}</td>
	</tr>
        <tr>
          <th>科目ID</th>
          <td>{{ dealing.dealing_type_id }}</td>
	</tr>
        <tr>
          <th>金額</th>
          <td>{{ dealing.amount }}</td>
	</tr>
        <tr>
          <th>取引先</th>
          <td>{{ dealing.client }}</td>
	</tr>
        <tr>
          <th>摘要</th>
          <td>{{ dealing.description }}</td>
	</tr>
    </table>
    </div>
    <div ng-hide="dealing">
      存在しない帳票を参照しています。 <a href="#/new">新しい帳票を作る</a>
    </div>
  </script>
  <!-- Template End -->

  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route.min.js"></script>
  <!-- 日本語ロケールをロードしておくことでカレンダーの曜日表示が日本語になる -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.10/angular-locale_ja-jp.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script src="./js/location.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>
